<p>
  <label>Template directory</label>
  <%= text_field_tag 'settings[template_dir]', @settings['template_dir'] %>
</p>
<p>
  <label>Create vhost command</label>
  <%= text_field_tag 'settings[vhost_create_command]', @settings['vhost_create_command'] %>
</p>
<p>
  <label>Delete vhost command</label>
  <%= text_field_tag 'settings[vhost_delete_command]', @settings['vhost_delete_command'] %>
</p>
<p>
  <label>Add user to vhost command</label>
  <%= text_field_tag 'settings[vhost_add_user_command]', @settings['vhost_add_user_command'] %>
</p>
<p>
  <label>Del user from vhost command</label>
  <%= text_field_tag 'settings[vhost_del_user_command]', @settings['vhost_del_user_command'] %>
</p>
<p>
  <label>Hudson base url</label>
  <%= text_field_tag 'settings[hudson_base_url]', @settings['hudson_base_url'] %>
</p>
